body {
    background: url("../img/wallpaper.jpg");
    font-family: "Roboto", sans-serif;
    margin: 50px;
    padding: 0;
    background-size: 100%;
}

.errorMessage {
    margin: 15px 0 0;
    color: #ff0000;
    font-size: 25px;
}